apiVersion: v1
kind: Config
clusters:
- name: "hahn064"
  cluster:
    server: "https://gevalia.rnd.gic.ericsson.se/k8s/clusters/c-lx48g"

users:
- name: "hahn064"
  user:
    token: "kubeconfig-u-equpma63zq:fxwdw6s7k859z2k8nlv22x8jdcpcsqlrlwnv4jgnfbdbqqzwww4dj5"


contexts:
- name: "hahn064"
  context:
    user: "hahn064"
    cluster: "hahn064"

current-context: "hahn064"
