apiVersion: v1
kind: Config
clusters:
- name: "hahn062"
  cluster:
    server: "https://gevalia.rnd.gic.ericsson.se/k8s/clusters/c-dclhb"

users:
- name: "hahn062"
  user:
    token: "kubeconfig-u-equpma63zq:fxwdw6s7k859z2k8nlv22x8jdcpcsqlrlwnv4jgnfbdbqqzwww4dj5"


contexts:
- name: "hahn062"
  context:
    user: "hahn062"
    cluster: "hahn062"

current-context: "hahn062"
