apiVersion: v1
kind: Config
clusters:
- name: "hahn131"
  cluster:
    server: "https://frappuccino.rnd.gic.ericsson.se/k8s/clusters/c-qhfvz"

users:
- name: "hahn131"
  user:
    token: "kubeconfig-u-4y4urcwhu3:lrdx7jkfnd9q2pcqx7s9vgwnh9qhh96x65ddm7rq9fqjcncbggkgsf"


contexts:
- name: "hahn131"
  context:
    user: "hahn131"
    cluster: "hahn131"

current-context: "hahn131"
