apiVersion: v1
kind: Config
clusters:
- name: "hall914"
  cluster:
    server: "https://frappuccino.rnd.gic.ericsson.se/k8s/clusters/c-wlcdd"

users:
- name: "hall914"
  user:
    token: "kubeconfig-u-equpma63zq:zlhhz896m8ktkv7zbrcgdmk7thmhzzg48z5p6bfw5vc2pph277827n"


contexts:
- name: "hall914"
  context:
    user: "hall914"
    cluster: "hall914"

current-context: "hall914"